<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Editando <ion-text color="success">{{formGroup.get('name')?.value}}</ion-text></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input aria-label="Nome" type="text" errorText="Nome obrigatório" helperText="Digite um nome válido" formControlName="name"></ion-input>
    </ion-item>
  </form>
</ion-content>
